### Java / Maven ###
target/
*.class
*.jar
*.war
*.ear

### Spring Boot ###
application-*.yml
*.iml
.idea/

### Docker ###
*.log
docker-compose.override.yml

### AWS CDK ###
cdk.out/
node_modules/
.env
*.tsbuildinfo

### Misc ###
.DS_Store
Thumbs.db
